
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    height:80vh;
    width:100vw;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("assets/images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position:relative;
}
.container .navbar{
    width: 100%;
    max-width:70vw;
    display:flex; 
    justify-content:space-between;
    align-items:center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container .navbar ul{
    display:flex; 
    justify-content:space-between;
    align-items:center;
    gap:20px;
}
.container .navbar ul li{
    list-style:none;
}
.container .navbar ul .btn{
    background-color: red;
    border-radius: 5px;
    color:white;
    padding-left:5px;
    padding-right:5px;
    font-family: "Poppins", sans-serif;


}
.container .navbar ul .eng{
    color:white;
    border:1px solid rgba(255, 255, 255, 0.324);
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    font-family: "Poppins", sans-serif;

}
.container .main{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    row-gap: 7px;
    flex:1;
   
    
}
.container .main span:nth-child(1){
    font-size:20px;
    font-family: "Poppins", sans-serif;
}
.container .main span:nth-child(2){
    font-size:14px;
    font-family: "Poppins", sans-serif;
}
.container .main span:nth-child(3){
    font-size:10px;
    font-family: "Poppins", sans-serif;
}
.container .main .mail #email{
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    border:1px solid black;
    padding-top:2px;
    padding-bottom:2px;
}
.container .main .mail button{
    background-color: red;
    color:white;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    height: 25px;
    font-size: 12px;
    border:1px solid black;
    font-family: "Poppins", sans-serif;


}