body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    color:white;
    line-height:1;
    letter-spacing:0.211em;
    font-size:34px;
}
header{
    min-height:100vh;
    display:grid;
    place-items:center;
}
.background-video{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%; 
    object-fit:cover;
    z-index:-1;
    filter:brightness(35%);
}
.preloader{
    position:fixed;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    background:white;
    display:grid;
    place-items:center;
    z-index:1;
    transition:0.3s linear;
}