.bg-image{
    width:100vw;
    height:100vh;
    background-image: url("https://media.istockphoto.com/id/1496615469/photo/serene-latin-woman-enjoy-sunset-with-gratitude.jpg?s=1024x1024&w=is&k=20&c=Boo17hpiJy-am_I4CSMRALI5tPRtTZKrVp2RHlI4wQw=");
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}
.container{
    padding:80px;
}
@media(max-width:450px){
    .container{
        padding:30px;
    }
}
h1{
    font-size:50px;
}
p{
    color:grey;
}