body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: blueviolet;
}
.main h3{
    color:white;
    font-size:40px;
    text-transform:uppercase;
    text-align:center;
}
.main .year{
    color:white;
    font-size:40px;
    text-align: center;
}
.main .container{
    color:white;
    display:flex;
    justify-content: center;
    gap:50px;
    font-size:20px;
    text-transform:uppercase
}
.main .container .sc{
    display:flex;
    flex-direction: column;
    
}
.main .container .sc span{
    text-align:center;
    
}
.main .container{
    width:100vw;
    background-color: rgb(119, 22, 210);
}
